body {
    width: 320px;
    margin: 0;
}

.search {
    width: 100%;
}

#search-input {
    width: 100%;
    padding: 10px;
    border: 0;
    outline: none;
    font-size: 16px;
}

.suggestion-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: block;
        width: 100%;
        padding: 5px 10px;
        font-size: 16px;

        .suggestion-content:hover,
        &.active > .suggestion-content {
            background: #eee;
            cursor: default;
        }
    }
}
